* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
}
:root {
  --trans: all 0.35s ease-in-out;
  --color_grey: #353535;
  --color_red: #f13a3a;
}
body {
  zoom: 1;
  background-color: #353535;
}
::selection {
  background-color: #f13a3a;
  color: white;
}

::-moz-selection {
  background-color: #f13a3a;
  color: white;
}
img {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
// @media (min-width: 2200px) {
//   body {
//     zoom: 1.45;
//   }
// }
// @media (min-width: 2560px) {
//   body {
//     zoom: 1;
//   }
// }
// @media (max-width: 1600px) {
//   body {
//     zoom: 1;
//   }
// }
.container {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 100px;
}

@media (max-width: 750px) {
  .container {
    padding: 0 15px;
  }
}
html {
  scroll-behavior: smooth;
}

// HEADER---------------------------------------------------------------------------
header {
  background-color: #353535;
  position: fixed;
  z-index: 9999;
  width: 100%;
}
.active__color {
  color: #f13a3a !important;
  padding-bottom: 2px;
  border-bottom: 1px solid #f13a3a;
}
.container__header {
  width: 100%;
  max-width: 1620px;
  margin: 0 auto;
  padding: 0 40px;
}
.header__container {
  display: flex;
  align-items: center;
  height: 76px;
  padding: 12px 0px;
  justify-content: space-between;
  position: relative;
}
.h__left {
  width: 63px;
  height: 53px;
  img {
    width: 100%;
    height: 100%;
  }
}
.h__center {
  width: calc(100% - 500px);
}
.header__list {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

.header__link {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: var(--trans);
  position: relative;
  &:hover {
    color: #f13a3a;
  }
}
.header__link:not(.no_active)::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 1px;
  background-color: #f13a3a;
  transition: width 0.35s;
}
.header__link:not(.no_active):hover:before {
  width: 100%;
}
.h__icon {
  position: absolute;
  width: 15px;
  height: 15px;
  top: 25%;
  right: -20px;
  transition: var(--trans);
}
.header__item {
  position: relative;
  height: 100%;
}

.header__dropdown_menu {
  visibility: hidden;
  position: absolute;
  left: 50%;
  top: 110%;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  background-color: #353535;
  transition: var(--trans);
  opacity: 0;
  z-index: 99999;
  width: max-content;
  transform: translateX(-50%);
}
.header__dropdown_menu li {
  padding: 5px 15px 15px;
}
.header__dropdown_menu li:first-child {
  padding-top: 35px;
}
.header__dropdown:hover .header__dropdown_menu {
  visibility: visible;
  opacity: 1;
  top: 100%;
}
.header__dropdown:hover .h__icon {
  transform: rotate(180deg);
}
.h__left {
  height: 100%;
  width: 100%;
  max-width: 200px;
  img {
    width: 100%;
    height: 100%;
  }
}
.h__right {
  width: 100%;
  max-width: 200px;
}
.header__dropdown:hover > a {
  color: var(--color_red);
}
// burger  --------------------------------------------------------------------------------
.burger__icon {
  width: 30px;
  height: 25px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 99999;
  position: relative;
}

.burger__icon div {
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: all 0.3s ease;
}

.burger__menu {
  opacity: 1;
  visibility: visible;
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: var(--color_grey);
  padding: 20px;
  box-sizing: border-box;
  transition: right 0.3s ease;
  z-index: 1000;
  overflow-y: auto;
  transition: var(--trans);
  max-height: 100%;
}
.burger__menu.active {
  right: 0;
  opacity: 1;
  visibility: visible;
}
.burger__menu .header__list {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
  padding-top: 50px;
}

.burger__menu .header__link {
  margin: 10px 0;
  font-size: 28px;
}
.header__dropdown_menu_burger .header__link {
  font-size: 24px;
}
.burger__icon.active .line1 {
  transform: rotate(-45deg) translate(-6px, 6px);
  background-color: #fff;
}

.burger__icon.active .line2 {
  opacity: 0;
}

.burger__icon.active .line3 {
  transform: rotate(45deg) translate(-9px, -9px);
  background-color: #fff;
}
.burger__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 90px !important;

  li a {
    color: #fff;
    font-family: "Poppins";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
.burger {
  display: none;
}
.burger__menu .header__dropdown_menu {
  padding-top: 20px;
  gap: 20px;
}
.burger__menu .header__dropdown_menu li {
  padding: 0px 0px 0px 15px;
}
.burger__menu .header__dropdown_menu li a {
  font-size: 22px;
}
.burger__menu .header__dropdown:hover .header__dropdown_menu {
  position: relative;
}
.header__dropdown_menu_burger {
  margin-left: 15px;
  list-style: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease;
  opacity: 0;

  flex-direction: column;
}

.header__dropdown_menu_burger.active {
  display: flex;
  max-height: 500px;
  opacity: 1;
}

.header__dropdown_menu_burger li:first-child {
  margin-top: 30px;
}
.header__dropdown_menu_burger li:not(:last-child) {
  margin-bottom: 15px;
}
#servicesToggle {
  position: relative;
}
.burger_serv__icon {
  position: absolute;
  width: 20px;
  height: 20px;
  right: -30px;
  top: 25%;
  transition: transform 0.5s ease;
}
.burger_serv__icon.rotated {
  transform: rotate(180deg);
}
@media (max-width: 1100px) {
  .h__center,
  .h__right {
    display: none;
  }

  .burger {
    display: block;
  }

  .burger__menu.active {
    display: block;
  }
  .burger__icon {
    display: flex;
  }
}
.burger__menu .h__social_list {
  position: absolute;
  bottom: 40px;
}

// MAIN  --------------------------------------------------------------------------------
// hero_section --------------------------------------------------------------------------------
.hero__section {
  padding-top: 75px;
  width: 100%;
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  position: absolute;
  top: 90px;
  font-size: 130px;
  text-align: center;
  width: 100%;
  color: var(--color_red);
  z-index: 5;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
  user-select: none;
}

.slider {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.left-half,
.right-half {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  height: 100%;
}

.left-half {
  background-color: white;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  overflow: hidden;
  width: 50.05% !important;
}

.right-half {
  background-color: gray;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  overflow: hidden;
  justify-content: flex-start;
}

.car-left,
.car-right {
  position: absolute;
  width: 200%;
  height: auto;
  transition: transform 3s ease-in-out;
}

.car-left {
  right: -100%;
}

.car-left img {
  width: 100%;
}

.car-right {
  left: -100%;
}

.car-right img {
  width: 100%;
  position: relative;
}

.car-left::before,
.car-right::before,
.car-left::after,
.car-right::after {
  content: "";
  position: absolute;
  width: 13.5%;
  height: 26.5%;
  background-image: url(../image/wheel.png);
  transform: rotate(var(--wheel-rotation, 0deg));
  background-size: cover;
  transform-origin: center;
  transition: transform 3s ease-in-out;
  z-index: 3;
}

.car-left::before {
  bottom: 26.5%;
  left: 23.2%;
}

.car-left::after {
  bottom: 25.5%;
  right: 22.3%;
}

.car-right::before {
  bottom: 26.5%;
  left: 23.2%;
}

.car-right::after {
  bottom: 25.5%;
  right: 22.3%;
}

.hidden {
  display: none;
}

.container__hero {
  position: relative;
}

.container__hero button {
  font-size: 16px !important;
  cursor: pointer !important;
  position: absolute !important;
  top: -100px;
}

#prev {
  left: 20px !important;
}

#next {
  right: 20px !important;
}

// hero__section_card  --------------------------------------------------------------------------------
.hero__card_section {
  width: 100%;
  transform: translateY(-2px);
  background-color: var(--color_grey);
}

.hero__card_list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.hero__card_item {
  width: 100%;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.hero__card_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  display: block;
}

.hero__card_item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.55);
  z-index: 1;
  pointer-events: none;
  transition: background-color 0.3s ease;
}

.hero__card_item:hover::before {
  background: rgba(0, 0, 0, 0.4);
}

.hero__card_item:hover img {
  transform: scale(1.1);
}

.hero__card_info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  transition: color 0.3s ease;
}

.hero__card_info h4 {
  margin: 0;
  color: #ffffff;
  font-size: 25px;
  font-weight: 400;
  transition: color 0.3s ease;
}

.hero__card_info img {
  width: 90px;
}

.hero__card_item:hover .hero__card_info h4 {
  color: var(--color_red);
}
// about__section  --------------------------------------------------------------------------------
.about__section {
  width: 100%;
  transform: translateY(-2px);
  background-color: #e6e6e6;
}
.about__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.l__about {
  padding: 90px;
}
.about__title {
  font-size: 40px;
  margin-bottom: 25px;
  color: var(--color_grey);
  text-transform: uppercase;
}
.about__page .about__subtitle {
  font-size: 25px;
}
.about__subtitle {
  font-size: 20px;
  width: 100%;
  max-width: 700px;
  color: var(--color_grey);
  opacity: 0.8;
  margin-bottom: 25px;
}
.btn {
  background-color: #f13a3a;
  padding: 10px 20px !important;
  color: var(--color_red);
  display: flex;
  width: 150px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.r__about {
  width: 100%;
  img {
    width: 100%;
    display: block;
  }
}
// service__section  --------------------------------------------------------------------------------
.service__section {
  background-color: #353535;
  transform: translateY(-2px);
}

.service__title {
  font-size: 40px;
  margin-bottom: 25px;
  color: #fff;
  text-align: center;
  padding-top: 50px;
  text-transform: uppercase;
}

.service__subtitle {
  font-size: 20px;
  width: 100%;
  max-width: 1000px;
  color: #fff;
  opacity: 0.8;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-bottom: 50px;
}

.service__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.service__item {
  width: 100%;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.55);
  z-index: 1;
  pointer-events: none;
  transition: background-color 0.3s ease;
}

.service__item_img:hover {
  transform: scale(1.05);
}

.service__item:hover::before {
  background: rgba(0, 0, 0, 0.4);
}

.service__item_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  display: block;
}

.service__item:hover .service__item_img {
  transform: scale(1.1);
}

.hero__card_info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 2;
  transition: var(--trans);
}

.hero__card_info h4 {
  margin: 0;
  color: #ffffff;
  font-size: 50px;
  font-weight: 600;
  transition: color 0.3s ease;
  text-transform: uppercase;
  text-align: center;
}

.service__item:hover .hero__card_info h4 {
  color: var(--color_red);
}

// blog__section  --------------------------------------------------------------------------------
.section__blog {
  background-color: #e6e6e6;
  padding-bottom: 50px;
}

.blog__title {
  font-size: 40px;
  margin-bottom: 25px;
  color: var(--color_grey);
  text-align: center;
  padding-top: 50px;
  text-transform: uppercase;
}
.blog__subtitle {
  font-size: 20px;
  width: 100%;
  max-width: 1000px;
  color: var(--color_grey);
  opacity: 0.8;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-bottom: 50px;
}

.blog__swiper {
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 20px !important;
  padding-right: 18px !important;
  padding-left: 18px !important;
}
.blog__swiper .swiper-slide {
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.blog__slide {
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  width: 100%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.blog__slide:hover {
  transform: translateY(-5px);
  box-shadow: 0 0.7rem 1.2rem rgba(0, 0, 0, 0.3);
}

.blog__slide_img {
  width: 100%;
  img {
    width: 100%;
  }
}
.blog__slide_info {
  padding: 20px;
  position: relative;
}
.blog__slide_title {
  font-size: 20px;
  color: #353535;
  font-weight: 500;
  margin-bottom: 20px;
}
.blog__slide_subtitle {
  font-size: 16px;
  color: #353535;
  font-weight: 500;
  opacity: 0.7;
  margin-bottom: 50px;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.blog__slide_data {
  font-size: 16px;
  color: #353535;
  font-weight: 500;
  opacity: 0.7;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.blog__prev {
  left: 0px !important;
  color: var(--color_red) !important;
}
.blog__next {
  right: 0px !important;
  color: var(--color_red) !important;
}
.blog__btn {
  display: flex;
  width: 150px;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
// gallery__section  --------------------------------------------------------------------------------
.gallery__section {
  height: 800px;
  width: 100%;
  background-image: url(../image/gallery_back.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
}
.gallery__section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.65);
  z-index: 1;
}

.gallery__container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 2;
}
.gallery__title {
  font-size: 40px;
  margin-bottom: 25px;
  color: #fff;
  text-align: center;
  padding-top: 50px;
  text-transform: uppercase;
}
.gallery__subtitle {
  font-size: 20px;
  width: 100%;
  max-width: 1000px;
  color: #fff;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-bottom: 50px;
}

// review  --------------------------------------------------------------------------------
.review__slide {
  padding: 20px;
  height: 333px;
}
.review__slide_title {
  font-size: 24px;
  color: #353535;
  font-weight: 500;
  margin-bottom: 20px;
  height: 71px;
}
.review__slide_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
.review__name {
  font-size: 18px;
  color: #353535;
  font-weight: 500;
}
.review__star {
  display: flex;
  align-items: center;
  img {
    width: 20px;
    height: 20px;
  }
}
.review__slide_subtitle {
  font-size: 16px;
  color: #353535;
  font-weight: 500;
  opacity: 0.7;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.review__btn {
  display: flex;
  width: 180px;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  cursor: pointer;
}
.review__slide a {
  color: var(--color_red);
  margin-top: 5px;
  display: block;
  width: fit-content;
}
// form__section  --------------------------------------------------------------------------------
.form__section {
  padding-top: 0px;
  background-color: #e6e6e6;
  padding-bottom: 50px;
}

.form__info {
  padding-top: 50px;
}

.form__info .form__container {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  gap: 20px;
}

.form__info form {
  width: 100%;
  max-width: 830px;
  display: flex;
  flex-direction: column;
}

.form__info .form__adress h4 {
  color: #2a2a2a;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 19.2px;
  margin-bottom: 3px;
}

.form__info .form__adress p {
  color: #8a8a8a;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-bottom: 50px;
}

.form__box {
  display: flex;
  width: 100%;
  gap: 30px;
}

textarea::placeholder {
  color: var(--color_grey);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 21px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  font: 15px/24px "Lato", Arial, sans-serif;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
  background-color: transparent;
  border: 1px solid var(--color_grey);
  outline: none;
  padding: 15px;
  color: var(--color_grey);
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 21px;
  transition: all 0.3s linear;
  height: 100%;
  resize: none;
}

input::placeholder,
textarea::placeholder {
  color: var(--color_grey);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 21px;
}

button {
  width: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  color: var(--color_grey);
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 21px;
  outline: none;
  border: 1px solid var(--color_grey);
  transition: var(--trans);
}

.col-3 {
  float: left;
  width: 100%;
  margin-bottom: 13px;
  position: relative;
  border-radius: 0px !important;
}

input.effect-20 ~ .focus-border:before,
input.effect-20 ~ .focus-border:after,
textarea.effect-20 ~ .focus-border:before,
textarea.effect-20 ~ .focus-border:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--color_red);
  transition: 0.3s;
}

input.effect-20 ~ .focus-border:after,
textarea.effect-20 ~ .focus-border:after {
  top: auto;
  bottom: 0;
  left: auto;
  right: 0;
}

input.effect-20 ~ .focus-border i:before,
input.effect-20 ~ .focus-border i:after,
textarea.effect-20 ~ .focus-border i:before,
textarea.effect-20 ~ .focus-border i:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 0;
  background-color: var(--color_red);
  transition: 0.4s;
}

input.effect-20 ~ .focus-border i:after,
textarea.effect-20 ~ .focus-border i:after {
  left: auto;
  right: 0;
  top: auto;
  bottom: 0;
}

input.effect-20:focus ~ .focus-border:before,
input.effect-20:focus ~ .focus-border:after,
input.effect-20.has-content ~ .focus-border:before,
input.effect-20.has-content ~ .focus-border:after,
textarea.effect-20:focus ~ .focus-border:before,
textarea.effect-20:focus ~ .focus-border:after,
textarea.effect-20.has-content ~ .focus-border:before,
textarea.effect-20.has-content ~ .focus-border:after {
  width: 100%;
  transition: 0.3s;
}

input.effect-20:focus ~ .focus-border i:before,
input.effect-20:focus ~ .focus-border i:after,
input.effect-20.has-content ~ .focus-border i:before,
input.effect-20.has-content ~ .focus-border i:after,
textarea.effect-20:focus ~ .focus-border i:before,
textarea.effect-20:focus ~ .focus-border i:after,
textarea.effect-20.has-content ~ .focus-border i:before,
textarea.effect-20.has-content ~ .focus-border i:after {
  height: 100%;
  transition: 0.4s;
}

input.effect-20 ~ label,
textarea.effect-20 ~ label {
  position: absolute;
  left: 14px;
  width: 100%;
  top: 15px;
  color: #aaa;
  transition: 0.3s;
  z-index: 1;
  letter-spacing: 0.5px;
}

input.effect-20:focus ~ label,
input.effect-20.has-content ~ label,
textarea.effect-20:focus ~ label,
textarea.effect-20.has-content ~ label {
  top: -24px;
  left: 0;
  font-size: 14px;
  color: var(--color_red);
  transition: 0.3s;
  z-index: 1;
}
.textarea__form {
  margin-bottom: 35px;
}
.form__title {
  margin-bottom: 20px !important;
  color: var(--color_grey);
  font-size: 22px;
}
.checkbox-btn {
  display: inline-block;
  position: relative;
  cursor: pointer;
  margin-bottom: 10px;
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s;
  user-select: none;
}

.checkbox-btn input[type="checkbox"] {
  display: none;
}
.btn-text {
  font-size: 14px !important;
  width: fit-content !important;
}
.checkbox-btn input[type="checkbox"]:checked + .btn-text {
  background-color: var(--color_red) !important;
  color: #fff;
}

.service__checkbox {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.additional-field,
.additional-message {
  transition: var(--trans);
  opacity: 0;
  color: #0e338b;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  height: 0px;
}

.additional-field.open,
.additional-message.open {
  opacity: 1;
  height: 40px;
}
.additional-message.open {
  padding: 12px !important;
  padding-left: 35px !important;
  margin-bottom: 25px !important;
}
.additional-message {
  width: 100%;
  border: 1px solid var(--color_red);
  color: var(--color_grey);
  font-size: 18px;
  background-color: #f13a3a21;
  padding: 12px;
  padding-left: 35px;
  background-image: url(../image/warning_icon.svg);
  background-repeat: no-repeat;
  background-position: 8px;
  background-size: 20px;
  margin-bottom: 10px;
}
.additional-field {
  height: 53px;
}
.form__adress img {
  width: 100%;
  max-width: 430px;
  margin-bottom: 70px;
  padding-top: 20px;
  display: block;
}
@media (max-width: 870px) {
  .form__box {
    flex-direction: column;
    width: 100%;
  }
}

@media (max-width: 600px) {
  .form__container {
    flex-direction: column;
  }
  .form__adress {
    text-align: center;
  }
  .form__info {
    padding-bottom: 0px;
  }
  .form__info form button {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
  }
  .form__info h2 {
    text-align: center;
  }
}

// footer  --------------------------------------------------------------------------------
footer {
  background-color: var(--color_grey);
}
.footer__top {
  padding-top: 50px;
}
.footer__list {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 40px;
}
.f_logo {
  width: 100%;
  margin-bottom: 40px;
  a {
    width: 100%;
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    img {
      width: 100%;
      display: block;
    }
  }
}
.footer__soc_list {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  gap: 30px;
}
.footer__soc_item a svg {
  width: 40px;
  height: 40px;
  fill: #fff;
  transition: var(--trans);
}
.footer__soc_item:hover a svg {
  fill: #f13a3a;
  transform: scale(1.2);
}
.footer__botom {
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: #202020;
}
.footer__private_list {
  display: flex;
  justify-content: space-between;
}
.footer__private_item a {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  transition: var(--trans);
  position: relative;
  &:hover {
    color: #f13a3a;
  }
}
.contact__title {
  font-size: 40px;
  margin-bottom: 40px;
  color: var(--color_grey);
  text-align: center;
  text-transform: uppercase;
}
//  about us -----------------------------------------------------------
.about__card_item {
  width: 100%;
  min-height: 350px;
  position: relative;
  overflow: hidden;
  perspective: 1000px;
}
.about__card_inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s linear;
  transform-style: preserve-3d;
}
.about__card_item:hover .about__card_inner {
  transform: rotateY(180deg);
}
.about__card_front,
.about__card_back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.about__card_front {
  z-index: 2;
}

.about__card_back {
  background-color: #353535;
  transform: rotateY(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.about__card_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.about__card_info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 3;
  transition: color 0.3s ease;
}
.about__card_back_info {
  z-index: 3;
}
.about__card_back_info h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 10px;
}
.about__card_info h4 {
  margin: 0;
  color: #ffffff;
  font-size: 35px;
  font-weight: 400;
  transition: color 0.3s ease;
  text-align: center;
}
.about__card_front::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.55);
  z-index: 1;
  pointer-events: none;
  transition: background-color 0.3s ease;
}

.about__hero {
  padding-top: 75px;
  background-image: url(../image/about_title.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 60vh;
  position: relative;
  h2 {
    font-size: 90px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    color: #fff;
    text-transform: uppercase;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
    pointer-events: none;
    transition: background-color 0.3s ease;
  }
}

.hero__section_text {
  background-color: var(--color_grey);
  padding-bottom: 50px;
  z-index: 3;
  p {
    margin-bottom: 0px;
  }
}
.parallax {
  position: relative;
  height: 70vh;
  overflow: hidden;
}

.parallax img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  width: auto;
  width: 100%;
}
.about_text {
  padding-block: 100px;
  font-size: 22px;
  line-height: 150%;
}
.qual1 {
  position: relative;
}
.qual1::after {
  content: "";
  background-image: url(../image/quality1.svg);
  background-size: 250px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.qual2 {
  position: relative;
}
.qual2::after {
  content: "";
  background-image: url(../image/quality2.svg);
  background-size: 250px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.qual3 {
  position: relative;
}
.qual3::after {
  content: "";
  background-image: url(../image/quality3.svg);
  background-size: 250px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.qual4 {
  position: relative;
}
.qual4::after {
  content: "";
  background-image: url(../image/quality4.svg);
  background-size: 250px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.serv__subtitle {
  font-size: 20px !important;
}
// gallery page -----------------------------------------------------------
.video__section {
  background-color: var(--color_grey);
  padding: 50px;
}
.video__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
}
.video__item {
  width: 100%;
}
.video-card {
  width: 100%;
  height: 245px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.video-card iframe {
  width: 100%;
  height: 100%;
  border: none;
  pointer-events: none;
  object-fit: cover;
}

.video-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
.video__section h2 {
  font-size: 40px;
  margin-bottom: 50px;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

.photo__item {
  width: 100%;
}

.photo-card {
  width: 100%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.photo-card img {
  width: 100%;
  height: auto;
  display: block;
  transition: var(--trans);
}
.photo-card:hover img {
  transform: scale(1.1);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  margin: 15% auto;
  display: block;
  width: 65%;
  max-width: 700px;
  animation: fadeIn 0.5s;
}

.close {
  position: absolute;
  top: 23%;
  right: 29%;
  color: var(--color_red);
  font-size: 68px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1001;
  margin: 5px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

// study section -----------------------------------------------------------
.study__container {
  display: flex;
  width: 100%;
  padding: 60px 80px 70px 20px;
}
.l__study,
.r__study {
  width: 50%;
}
.l__study p {
  font-size: 20px !important;
  width: 90%;
}
.faq__item {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 0.7rem 1.2rem rgba(0, 0, 0, 0.3);
  }
}
.faq__question {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 17px 19px 17px 30px;
  background: #fbfbfb;
  color: var(--color_grey);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
}
.toggle-icon {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.faq__list {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.faq__answer {
  background: #fbfbfb;
  border-top: 1px solid var(--color_red);
  color: var(--color_grey);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 24px 30px;
}
.study__stage {
  display: flex;
  align-items: center;
  gap: 20px;
  h3 {
    color: var(--color_grey);
    font-weight: 500;
    font-size: 25px;
  }
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: 1px solid var(--color_red);
    color: #f13a3a;
  }
}
.about__page .container {
  padding-bottom: 60px;
}
@keyframes rotate-in {
  0% {
    transform: rotate(-90deg);
    opacity: 0;
  }
  100% {
    transform: rotate(0);
    opacity: 1;
  }
}

@keyframes rotate-out {
  0% {
    transform: rotate(0);
    opacity: 1;
  }
  100% {
    transform: rotate(90deg);
    opacity: 0;
  }
}

.rotate-in {
  animation: rotate-in 0.5s forwards;
}

.rotate-out {
  animation: rotate-out 053s forwards;
}
.plus-icon,
.minus-icon {
  transition: opacity 0.5s, transform 0.5s;
  position: absolute;
  right: 15px;
}

.plus-icon {
  opacity: 1;
}

.minus-icon {
  opacity: 0;
  transform: rotate(90deg);
}

.faq__item.active .plus-icon {
  opacity: 0;
  transform: rotate(-90deg);
}

.faq__item.active .minus-icon {
  opacity: 1;
  transform: rotate(0);
}
// blog section -----------------------------------------------------------
.blog__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  width: 100%;
  .blog__slide_subtitle {
    margin-bottom: 100px;
  }
}

.blog__slide_info {
  position: relative;
  a {
    position: absolute !important;
    bottom: 20px !important;
    left: 20px !important;
  }
}
.nav__serv {
  position: absolute;
  top: 20%;
  transform: translateX(10px);
  z-index: 4;
  display: flex;
  align-items: center;
  gap: 10px;
  a {
    color: white;
    font-size: 20px;
  }
}
// contact -----------------------------------------------------------
.contact__section {
  padding-top: 50px;
  padding-bottom: 20px;
  background-color: var(--color_grey);

  .blog__list {
    padding-top: 50px;
    grid-template-columns: repeat(4, 1fr);
  }
}

.contact__video {
  width: 100%;
  height: auto;
  display: block;
}
.blog__item {
  width: 100%;
  img {
    width: 100%;
    display: block;
  }
}
.contact__swiper {
  margin-top: 50px;
  padding-right: 20px !important;
  padding-left: 20px !important;
  height: 350px !important;
  .swiper-pagination-bullet-active {
    background-color: var(--color_red) !important;
  }
  .swiper-pagination-bullet {
    width: 15px !important;
    height: 15px !important;
    background-color: #f13a3a;
  }
}
.contact__slide {
  padding-right: 25px;
  padding-left: 25px;
  .blog__slide {
    transform: none !important;
  }
}

// animation btn -----------------------------------------------------------
.btn {
  background-color: var(--color_red) !important;
  border: none !important;
  position: relative !important;
  overflow: hidden !important;
  transition: var(--trans) !important;
  z-index: 2 !important;
  color: white;
}
.btn__text {
  position: relative;
  z-index: 2;
  text-transform: uppercase;
}

.btn::before,
.btn::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: var(--trans);
  z-index: 1;
}
.btn::before {
  right: -50px;
  border-right: 50px solid transparent;
  border-bottom: 80px solid var(--color_grey);
  transform: translateX(-100%);
}
.btn::after {
  left: -50px;
  border-left: 50px solid transparent;
  border-top: 80px solid var(--color_grey);
  transform: translateX(100%);
}
.btn:hover {
  color: #fff !important;
  z-index: 2;
  border: 1px solid var(--color_red);
}
.btn:hover::before {
  transform: translateX(-49%);
}
.btn:hover::after {
  transform: translateX(49%);
}
.btn-text {
  background-color: var(--color_grey) !important;
}
.btn-text::before {
  border-bottom: 80px solid var(--color_red);
}
.btn-text::after {
  border-top: 80px solid var(--color_red);
}

.checkbox-btn input[type="checkbox"]:checked + .btn-text::before {
  transform: translateX(-49%);
}
.checkbox-btn input[type="checkbox"]:checked + .btn-text::after {
  transform: translateX(49%);
}
.checkbox-btn input[type="checkbox"]:not(:checked) + .btn-text::before {
  transform: translateX(-100%);
}
.checkbox-btn input[type="checkbox"]:not(:checked) + .btn-text::after {
  transform: translateX(100%);
}
// responsive
@media (max-width: 1680px) {
  .about__subtitle {
    font-size: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .l__about {
    padding: 50px;
  }
}
@media (max-width: 1441px) {
  .hero__card_info h4 {
    font-size: 40px;
  }
  .review__slide_title {
    font-size: 22px;
  }
  .hero__section h1 {
    font-size: 110px;
  }
}
@media (max-width: 1340px) {
  .about__subtitle {
    font-size: 16px;
  }
  .blog__slide_title {
    font-size: 18px;
  }
  .header__list {
    gap: 25px;
  }
  header .header__link {
    font-size: 16px;
  }
}
@media (max-width: 1300px) {
  .about__subtitle {
    -webkit-line-clamp: 7;
  }
  .hero__section h1 {
    font-size: 80px;
  }
}
@media (max-width: 1200px) {
  header .header__link {
    font-size: 14px;
  }
  .h__icon {
    width: 12px;
    height: 12px;
    right: -17px;
  }
}
@media (max-width: 1160px) {
  .about__title {
    font-size: 30px;
    margin-bottom: 15px;
  }
  .about__subtitle {
    margin-bottom: 15px;
  }
  .hero__card_info h4 {
    font-size: 30px;
  }
  .service__title {
    font-size: 30px;
  }
  .service__subtitle {
    font-size: 18px;
    margin-bottom: 40px;
  }
  .blog__title {
    font-size: 30px;
  }
  .blog__subtitle {
    font-size: 18px;
  }
  .gallery__title {
    font-size: 30px;
  }
  .gallery__subtitle {
    font-size: 18px;
  }
  .contact__title {
    font-size: 30px;
  }
  .hero__card_list {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 1100px) {
  .form__box {
    flex-direction: column;
    gap: 20px;
  }
  .parallax {
    height: 400px;
  }
}
@media (max-width: 1060px) {
  .l__about {
    padding: 30px 15px 15px 30px;
  }
  .review__slide_title {
    font-size: 20px;
  }
  .review__slide_subtitle {
    font-size: 15px;
  }
}
@media (max-width: 1000px) {
  .hero__card_info h4 {
    font-size: 40px;
  }
  .service__list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 990px) {
  .review__name {
    font-size: 16px;
  }

  .review__slide_title {
    margin-bottom: 8px;
  }
}

@media (max-width: 920px) {
  .about__container {
    grid-template-columns: 1fr;
  }
  .about__title {
    text-align: center;
  }
  .about__subtitle {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .about__container .btn {
    margin-right: auto;
    margin-left: auto;
  }
  .r__about img {
    padding: 30px 60px 60px;
  }
  .footer__private_list {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .footer__private_item {
    text-align: center;
  }
  .l__about {
    padding: 30px;
  }
}
@media (max-width: 880px) {
  .blog__swiper .swiper-slide {
    padding-left: 70px !important;
    padding-right: 70px !important;
  }
  .review__name {
    font-size: 18px;
  }
  .review__slide_subtitle {
    font-size: 16px;
  }
}
@media (max-width: 800px) {
  .footer__list {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
  }
  .footer__item {
    width: 100px;
    text-align: center;
  }
  .hero__section h1 {
    font-size: 70px;
  }
  .about__hero h2 {
    font-size: 70px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-wrap: nowrap;
  }
}
@media (max-width: 750px) {
  .form__info .form__container {
    flex-direction: column-reverse;
  }
  .form__info {
    padding-top: 0px;
  }
  .textarea__form {
    height: 242px;
  }
}
@media (max-width: 700px) {
  .hero__card_info h4 {
    font-size: 30px;
  }
  .hero__section h1 {
    font-size: 60px;
  }
}
@media (max-width: 650px) {
  .blog__swiper .swiper-slide {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}

@media (max-width: 600px) {
  .r__about img {
    padding: 30px;
  }
  .parallax img {
    transform: none !important;
    left: 0px;
  }
}
@media (max-width: 500px) {
  .hero__card_info h4 {
    font-size: 40px;
  }
  .hero__card_list {
    grid-template-columns: 1fr;
  }
  .r__about img {
    padding: 0px;
  }
  .service__list {
    grid-template-columns: 1fr;
  }
  .blog__swiper {
    padding-right: 5px !important;
    padding-left: 5px !important;
  }
  .hero__section h1 {
    font-size: 40px;
  }
  .hero__section {
    height: 70vh;
  }
  .parallax {
    height: auto;
  }

  .parallax img {
    position: relative;
    height: auto;
    width: 100%;
  }
  .about_text {
    font-size: 16px;
    padding-block: 20px;
    text-align: justify;
  }
  .about__hero h2 {
    font-size: 60px;
  }
}
@media (max-width: 400px) {
  .review__slide_title {
    font-size: 18px;
  }
  .review__name {
    font-size: 16px;
  }
  .review__slide_subtitle {
    font-size: 14px;
  }
  .blog__slide_subtitle {
    font-size: 14px;
  }
  .blog__slide_title {
    font-size: 16px;
  }
  .footer__private_list {
    grid-template-columns: 1fr;
    row-gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .about__subtitle {
    -webkit-line-clamp: 10;
  }
  .section__blog .container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .section__blog .container {
    padding-right: 10px;
    padding-left: 10px;
  }
  .hero__card_info h4 {
    font-size: 30px;
  }
}
@media (max-width: 360px) {
  .container__hero button {
    width: 130px;
  }
  .footer__list {
    display: grid;
    grid-template-columns: 1fr;
    margin-right: auto;
    margin-left: auto;
  }
  .footer__item {
    margin-right: auto;
    margin-left: auto;
  }
}
